.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.logo {
    width: 150px;
}

.nav a {
    margin-left: 1.5rem;
}

@media screen and (max-width: 900px) and (min-width: 320px) {
    .container {
        display: none;
    }
}
