@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --linkColor: #006eff;
    --primary: #f7d30f;
    --secondary: #ff6600;
    --tertiary: #e30a13;

    --transition: all 0.2s ease;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.textualSection {
    margin: 6rem 0;
}

.textualSection h1 {
    margin-bottom: 1.5rem;
}

.portfolios {
    margin: 9rem 0;
}

.portfolios h1 {
    margin-bottom: 1.5rem;
}

.portfolioHolder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
}

.portfolioHolder .item {
    box-sizing: border-box;
    height: 200px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    cursor: pointer;
    transition: var(--transition);
}

.item:hover {
    transform: scale(1.05);
}
.item:active {
    transform: scale(1);
}

.item h2 {
    font-family: Inter;
    font-size: 28px;
}

.first {
    background-color: var(--primary);
}
.second {
    background-color: var(--secondary);
}
.third {
    background-color: var(--tertiary);
}

a {
    font-family: Inter;
    font-weight: 500;
    color: var(--linkColor);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    filter: invert(1);
}

h1 {
    font-family: Inter;
    font-weight: 700;
    font-size: 60px;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 2rem;
}

@media screen and (max-width: 900px) and (min-width: 320px) {
    .portfolioHolder {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 3rem;
    }

    .portfolioHolder .item {
        height: 100px;
    }
}
