.holder {
    position: relative;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.grid img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 800px) and (min-width: 320px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1.5rem;
    }
}